body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //h1 {
    // color: #7affff;
    //}
}
.theme-dark {
    --text-accent: #A7F5FA !important;
    --background-primary: #514559 !important;
    --background-secondary: #303E4A !important;
}

.filetree-sidebar {
    width: 17%;
    min-width: 250px;
    h1 {
        font-size: 24px !important;
    }
        
}

.sidebar {
    width: 17%;
    min-width: 250px;
}
