@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');
    
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap" rel="stylesheet">

body {
    
    .theme-dark {
        --text-accent: #A7F5FA !important;
        --background-primary: #48444B !important;
        --background-secondary: #23262A !important;
    }
    
    h1, h2, h3, h4, h5, h6
    {
    font-family: 'Fraunces', serif !important;
    }
    
    .filetree-sidebar {
        width: 20%;
        min-width: 250px;
        border-radius:0px 15px 15px 0px;
        top: 5px;
        left: 20px;
        position: fixed;
        height: calc(97%);
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        overflow-x: hidden;
        h1 {
            font-size: 24px !important;
        }
        h1::before {
                content: " ";
                display: block;
                width: 100%;
                height: 3em;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url(https:i.imgur.com/NalfH3E.png);
                background-position: center;
        }
    }
}
